body {
    background: linear-gradient(to top, lightgreen, white 50%);
    margin: 0;
    padding: 0; 
    height: 100vh; 
}

.button {
    position: absolute;
    border: 1px solid white;
    box-shadow: -4px -4px 2px gray ;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    background: none;
    top: 20vw;
    left: 1vw;
    
}

.container :hover {
    left: 0.9vw;
    top: 19.7vw;
    background: radial-gradient( 80% 80% ,white 40%,  gray);
    box-shadow: none;
    border: 1px solid  gray;
}
.button a {
    text-decoration: none;
    color: black;
}
.button a:hover {
    text-decoration: none;
    color: black;
    background: none;
    border: none;
}
.locul{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.picture {
    font-size: 8vw;
    background-image: url(/WebSite\ pictures/Like.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
/*se poate si background-position center*/
}
.otherButton {
    position: absolute;
    top: 20vw;
    left: 20vw;
    border: 1px solid green;
    background-color: grey;
}
.link {
    background: none;
    border: none;
    padding: 1vw;
    font-size: 1vw;

}
.link a {
    text-decoration: none;
    color: black;
}
