body {
    background: linear-gradient(to top, lightgreen, white 50%);
    margin: 0;
    padding: 0; 
    height: 100vh; 
}

.button {
    position: absolute;
    border: 0.5px solid white;
    box-shadow: -4px -4px 2px gray , 1px 1px 3px gray ;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    background: none;
    top: 20vw;
    left: 1vw;
    background: radial-gradient( 80% 80% ,white 50%,  gray);
    
}

.container :hover {
    left: 0.9vw;
    top: 19.7vw;
    background: radial-gradient( 70% 70% ,white 40%,  gray);
    box-shadow: none;
    border: 1px solid  gray;
}
.button a {
    text-decoration: none;
    color: black;
}
.button a:hover {
    text-decoration: none;
    color: black;
    background: none;
    border: none;
}
.locul{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.picture {
    font-size: 8vw;
    background-image: url(/WebSite\ pictures/Like.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
/*se poate si background-position center*/
}

.otherButton {
    position: absolute;
    top: 19.8vw;
    left: 10vw;
    border: 2px solid green;
    border-radius: 2vw;
    box-shadow: -1px -1px 3px green;
    overflow: hidden;

}
.link {
    background: none;
    border: none;
    padding: 1vw;
    font-size: 1vw;

}
.link a {
    text-decoration: none;
    color:blueviolet;
}
:root {
    background-color: aquamarine;
    padding: 3px;
    border-radius: 2vw;
}
.otherButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background-color: blueviolet;
    transition: all 3s;
    z-index: -1;
    transform: translateX(100%);
    
}
.otherButton:hover::before {
    transform: translateX(0);
}
.otherButton:hover {
    border: 3px solid blueviolet;
    box-shadow: none;
}
.otherButton:hover {
    z-index: 1;
    
}
a:hover {
    color: white;
}